.Container_ShowVideoGrid {
    width: calc(100vw - 4.5rem);

    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: flex-start;
}
.video_box_app{
    margin: 0.9rem 0;
    width:22rem ;
    border: 2px solid transparent;
    border-radius: 15px;
  }